.kitsch-brown {
  color: #3c2e2a;
}

.bg-kitsch-brown {
  background-color: #3c2e2a;
}

/*

TACHYONS OVERRIDES

*/

.f1 { font-size: 4.909rem; }
.f2 { font-size: 3.683rem; }
.f3 { font-size: 2.073rem; }
.f4 { font-size: 1.555rem; }
.f5 { font-size: 1.166rem; }
.f6 { font-size: .875rem; }