.kitsch-brown {
  color: #3c2e2a;
}

.bg-kitsch-brown {
  background-color: #3c2e2a;
}

.fill-kitsch-brown {
  fill: #211a17;
}

.bg-darken-kitsch-brown {
  background-color: #211a17;
}

.mh-3 {
  max-height: 24rem;
}

.min-w-1 {
  min-width: 24rem;
}

.triangles {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.triangle-left {
  fill: rgba(243, 162, 160, 0.8);;
}

.triangle-right {
  fill: rgba(162, 161, 243, 0.6);
}

/*

TACHYONS OVERRIDES

*/